html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.7rem;
  font-family: Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 6.2rem 1fr 6rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #a05c5c;
}
main {
  grid-area: main;
  height: 100%;
}
footer {
  grid-area: footer;
  background-color: #c0bdbd;
  color: #942a2a;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #702626;
}
nav-items {
  padding: 0;
  margin-left: 1.5rem;
  list-style-type: none;
  display: flex;
}

@media screen and (max-width: 800px) {
  nav-items {
    display: none;
  }
}

ul {
  padding: 0;
  margin-left: 1.5rem;
  list-style-type: none;
}
li {
  margin-top: 0.7rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 2rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover {
  text-decoration: none;
  border: 0.1rem #351b1b solid;
}

select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}

button.primary {
  background-color: #383838;
  color: white;
}
button.primary:hover {
  background-color: #a05c5c;
  color: white;
}
button.block {
  width: 50%;
  min-width: 10rem;
  padding: none;
}
button.sign {
  border-radius: 2rem;
  border: 0.1rem #bebaba solid;
  background-color: #a05c5c;
  width: 50%;
  min-width: 10rem;
  padding: none;
}
button.sign:hover {
  border-radius: 2rem;
  border: 0.1rem #404040 solid;
  background-color: #383838;
  width: 50%;
  min-width: 10rem;
  padding: none;
}
button.small {
  font-size: 1.2rem;
}
button.download {
  background-color: #b94848;
  color: white;
  margin-right: 4px;
}
.container {
  justify-content: center;
  padding-right: 18px;
  padding-left: 18px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}

/* Header */
header a {
  color: #d8d8d8;
  padding: 1rem;
}
a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: rgb(75, 11, 11);
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 2 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.min-30 {
  min-width: 30rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  height: 25rem;
  width: 32rem;
  /* width: 100%; */
}
img.large {
  max-height: 30rem;
  max-width: 40rem;
  width: 100%;
  margin: 2rem;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  max-width: 40rem;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  margin-left: 2rem;
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.product-detail-card {
  border: 0.1rem #c0c0c0 solid;
  background-color: white;
  max-width: 100%;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 3rem;
  justify-content: center;
}
.select-size {
  margin-top: 2rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #3d3d3d;
}

/* Alerts */
.loading {
  display: block !important;
}

.success {
  color: #20a020;
}
.error {
  color: #a72c2c;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}
.alert-success {
  color: #48a855;
  background-color: #ffe0e0e0;
}

/* form */

.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  display: block;
}

/* dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 15rem;
  padding: 1rem;
  z-index: 1;
  background-color: #8a8787;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.checkout-steps > div {
  border-top: 0.5rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  margin-left: 0.1rem;
  font-weight: bold;
}

.checkout-steps > div.active {
  border-top-color: #b47732;
  color: #b47732;
}

/* table  */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.2rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

/* Side Navbar */
.nav-toggler {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-toggler {
    display: inline;
  }
  .nav-menu {
    background-color: #c9caca;

    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 5rem;
  }

  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    height: 60px;
    transition: 850ms;
  }
  .nav-text a {
    text-decoration: none;
    color: rgb(146, 83, 83);
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  .nav-text a:hover {
    color: #2e2e2e;
    background-color: #f18694 !important;
  }
  .nav-menu-items {
    width: 100%;
    margin-left: 4px;
    margin-right: 4px;
  }
  .navbar-brand {
    padding: 0 3px;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}
span {
  margin-left: 16px;
}

/* Carousal */
.slider {
  height: 100vh;
  width: 100%;
}
